:root {
  --bs-border-color-translucent: rgba(125, 65, 225, 0.75);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background-color: #FFF;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #FFF;
  -webkit-box-shadow: 0px 1px 10px #7d41e1;
          box-shadow: 0px 1px 10px #7d41e1;
  z-index: 1;
}

nav .navbar-brand {
  color: #7d41e1;
  font-weight: bold;
}

nav .active {
  color: #7d41e1;
}

nav .fa-hands-holding-child {
  font-size: 30px;
}

nav .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .navbar-collapse .nav-link {
  margin: 0px 5px;
  color: black;
  -webkit-transition: color 0.5s background-color 0.5s;
  transition: color 0.5s background-color 0.5s;
  border-radius: 8px;
}

nav .navbar-collapse .nav-link:hover {
  color: #FFF;
  background-color: #7d41e1;
}

header .hero-bg {
  background-image: url("/img/bryan-garces-IXUM4cJynP0-unsplash_small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header .hero-bg .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("/img/woman_without_bg.png");
  background-repeat: no-repeat;
  background-size: auto calc(100% - 100px);
  background-position: calc(50% + 90px) bottom;
}

header .hero-bg .hero-img .hero-container {
  position: absolute;
  top: 35%;
  left: 25%;
  width: 170px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px;
          box-shadow: 2px 2px 5px;
}

header .hero-bg .hero-img .hero-container .hero-text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

header .hero-bg .hero-img .hero-container .hero-name {
  text-align: left;
  text-decoration: underline;
}

header .hero-bg .hero-img .hero-container .hero-description {
  margin-top: 10px;
  text-align: left;
}

.consultation {
  background-color: #FFF;
}

.consultation .container .consultation-localization {
  padding: 10px 0px;
  color: #7d41e1;
  font-size: 16px;
}

.consultation .container .consultation-describe {
  font-size: 14px;
}

.consultation .container .consultation-btn {
  background-color: #7d41e1;
  color: #FFF;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.consultation .container .consultation-btn:hover {
  -webkit-box-shadow: 0px 0px 10px #7d41e1;
          box-shadow: 0px 0px 10px #7d41e1;
}

.card-group {
  background-color: #7d41e1;
  overflow: hidden;
  padding: 0px;
  margin-top: 5px;
}

.card-group .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 20px;
}

.card-group .row .card {
  padding: 0px;
  margin: 10px;
}

.card-group .row .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid gray;
}

.card-group .row .card .card-title {
  margin: 20px;
  padding: 10px 0px;
  color: #7d41e1;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.card-group .row .card .card-text {
  font-size: 14px;
}

.card-group .row .card:hover {
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
}

.therapy {
  width: 100%;
}

.therapy h1 {
  padding: 10px;
  background-color: #FFF;
  text-align: center;
  font-weight: bold;
  background-color: #7d41e1;
  color: #FFF;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

.therapy .therapy-container .therapy-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
}

.therapy .therapy-container .therapy-box .therapy-img img {
  width: 250px;
  height: 250px;
}

.therapy .therapy-container .therapy-box .therapy-text {
  padding: 20px;
  border-radius: 30px;
  background-color: #78e6f2;
  border: 1px solid #7d41e1;
}

@media (min-width: 576px) {
  header .hero-bg {
    background-repeat: no-repeat;
    background-position: right;
  }
  header .hero-bg .hero-img {
    background-size: auto calc(100%);
  }
  header .hero-bg .hero-img .hero-container {
    width: 250px;
    padding: 25px;
    top: 35%;
  }
  header .hero-bg .hero-img .hero-container .hero-text {
    font-size: 16px;
  }
  header .hero-bg .hero-img .hero-container .hero-description {
    font-size: 12px;
    text-align: justify;
  }
  .card-group .card {
    width: 220px;
  }
  .card-group .card .card-title {
    margin-top: 20px;
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  nav .fa-hands-holding-child {
    font-size: 35px;
  }
  header .hero-bg {
    background-image: url("/img/bryan-garces-IXUM4cJynP0-unsplash_big.jpg");
  }
  header .hero-bg .hero-img .hero-container {
    width: 350px;
    padding: 25px;
    top: 31%;
  }
  header .hero-bg .hero-img .hero-container .hero-text {
    font-size: 20px;
  }
  header .hero-bg .hero-img .hero-container .hero-name {
    font-size: 17px;
  }
  header .hero-bg .hero-img .hero-container .hero-description {
    font-size: 15px;
    text-align: justify;
  }
  .card-group .card {
    width: 300px;
  }
  .therapy-container .therapy-box {
    padding: 30px;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .therapy-container .therapy-text {
    margin-left: 20px;
  }
}

@media (min-width: 900px) {
  header .hero-bg {
    background-image: url("/img/bryan-garces-IXUM4cJynP0-unsplash_big.jpg");
  }
  header .hero-bg .hero-img .hero-container {
    top: 45%;
  }
}

@media (min-width: 992px) {
  nav {
    height: 82px;
  }
  header .hero-bg .hero-img {
    background-position: calc(50% + 180px) bottom;
  }
  header .hero-bg .hero-img .hero-container {
    width: 350px;
    padding: 35px;
    top: 30%;
  }
  header .hero-bg .hero-img .hero-container .hero-text {
    font-size: 22px;
  }
  header .hero-bg .hero-img .hero-container .hero-name {
    font-size: 18px;
  }
  header .hero-bg .hero-img .hero-container .hero-description {
    font-size: 14px;
    text-align: justify;
  }
  .card-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-group .card {
    width: 250px;
  }
  .card-group .card .card-text {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  nav {
    height: 82px;
  }
  header .hero-bg .hero-img {
    background-size: auto calc(100% - 100px);
    background-position: calc(50% + 240px) bottom;
  }
  header .hero-bg .hero-img .hero-container {
    width: 500px;
    padding: 50px;
    top: 35%;
  }
  header .hero-bg .hero-img .hero-container .hero-text {
    font-size: 24px;
  }
  header .hero-bg .hero-img .hero-container .hero-name {
    font-size: 19px;
  }
  header .hero-bg .hero-img .hero-container .hero-description {
    font-size: 16px;
    text-align: justify;
  }
  .card-group .card {
    width: 300px;
  }
  .card-group .card .card-title {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */