@import "./colors";
:root {
	--bs-border-color-translucent: rgba(125, 65, 225, 0.75);
}
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	position: relative;
	background-color: #ddd;
	font-family: "Montserrat", sans-serif;
}

nav {
	background-color: $white;
	box-shadow: 0px 1px 10px $main-color;
	z-index: 1;
	.navbar-brand {
		color: rgb(125, 65, 225);
		font-weight: bold;
	}
	.active {
		color: $main-color;
	}
	.fa-hands-holding-child {
		font-size: 30px;
	}
	.navbar-collapse {
		justify-content: flex-end;
		.nav-link {
			margin: 0px 5px;
			color: black;
			transition: color 0.5s background-color 0.5s;
			border-radius: 8px;
		}
		.nav-link:hover {
			color: $white;
			background-color: $main-color;
		}
	}
}

header {
	.hero-bg {
		background-image: url("/img/bryan-garces-IXUM4cJynP0-unsplash_small.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hero-img {
			position: relative;
			height: 100vh;
			background-image: url("/img/woman_without_bg.png");
			background-repeat: no-repeat;
			background-size: auto calc(100% - 100px);
			background-position: calc(50% + 90px) bottom;
			//     background-size: auto calc(100% - 100px);
			//     background-position: calc(50% + 240px) bottom;
			// }
			.hero-container {
				position: absolute;
				top: 35%;
				left: 25%;
				width: 170px;
				transform: translate(-50%, -50%);
				padding: 10px;
				background-color: $white;
				border-radius: 10px;
				box-shadow: 2px 2px 5px;
				.hero-text {
					text-transform: uppercase;
					font-size: 16px;
					font-weight: bold;
					text-align: center;
				}
				.hero-name {
					text-align: left;
					text-decoration: underline;
				}
				.hero-description {
					margin-top: 10px;
					text-align: left;
				}
			}
		}
	}
}

.consultation {
	background-color: $white;
	.container {
		.consultation-localization {
			padding: 10px 0px;
			color: $main-color;
			font-size: 16px;
		}
		.consultation-describe {
			font-size: 14px;
		}
		.consultation-btn {
			background-color: $main-color;
			color: $white;
			padding: 10px;
			border-radius: 10px;
			font-size: 12px;
			transition: 0.5s;
		}
		.consultation-btn:hover {
			box-shadow: 0px 0px 10px $main-color;
		}
	}
}
.card-group {
	background-color: $main-color;
	overflow: hidden;
	padding: 0px;
	margin-top: 5px;
	.row {
		justify-content: space-around;
		align-items: stretch;
		padding: 20px;
		.card {
			padding: 0px;
			margin: 10px;
			img {
				height: 300px;
				object-fit: cover;
				border-bottom: 1px solid gray;
			}
			.card-title {
				margin: 20px;
				padding: 10px 0px;
				color: $main-color;
				border-top: 1px solid gray;
				border-bottom: 1px solid gray;
			}
			.card-text {
				font-size: 14px;
			}
		}
		.card:hover {
			box-shadow: 0px 0px 5px white;
		}
	}
}

// therapy
.therapy {
	width: 100%;
	h1 {
		padding: 10px;
		background-color: $white;
		text-align: center;
		font-weight: bold;
		background-color: $main-color;
		color: $white;
		box-shadow: 5px 5px 10px black;
	}
	.therapy-container {
		.therapy-box {
			display: flex;
			flex-direction: row;
			padding: 30px;
			background-color: $white;
			.therapy-img {
				img {
					width: 250px;
					height: 250px;
				}
			}
			.therapy-text {
				padding: 20px;
				border-radius: 30px;
				margin-left: 20px;
				background-color: $second-main-color;
				border: 1px solid $main-color
			}
		}
	}
}

@media (min-width: 576px) {
	header {
		.hero-bg {
			background-repeat: no-repeat;
			background-position: right;
			.hero-img {
				background-size: auto calc(100%);
				.hero-container {
					width: 250px;
					padding: 25px;
					top: 35%;
					.hero-text {
						font-size: 16px;
					}
					.hero-description {
						font-size: 12px;
						text-align: justify;
					}
				}
			}
		}
	}
	.card-group {
		.card {
			width: 220px;
			.card-title {
				margin-top: 20px;
				font-size: 17px;
			}
		}
	}
}

@media (min-width: 768px) {
	nav {
		.fa-hands-holding-child {
			font-size: 35px;
		}
	}
	header {
		.hero-bg {
			background-image: url("/img/bryan-garces-IXUM4cJynP0-unsplash_big.jpg");
			.hero-img {
				.hero-container {
					width: 350px;
					padding: 25px;
					top: 31%;
					.hero-text {
						font-size: 20px;
					}
					.hero-name {
						font-size: 17px;
					}
					.hero-description {
						font-size: 15px;
						text-align: justify;
					}
				}
			}
		}
	}
	.card-group {
		.card {
			width: 300px;
		}
	}
}
@media (min-width: 900px) {
	header {
		.hero-bg {
			background-image: url("/img/bryan-garces-IXUM4cJynP0-unsplash_big.jpg");
			.hero-img {
				.hero-container {
					top: 45%;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	nav {
		height: 82px;
	}
	header {
		.hero-bg {
			.hero-img {
				background-position: calc(50% + 180px) bottom;
				.hero-container {
					width: 350px;
					padding: 35px;
					top: 30%;
					.hero-text {
						font-size: 22px;
					}
					.hero-name {
						font-size: 18px;
					}
					.hero-description {
						font-size: 14px;
						text-align: justify;
					}
				}
			}
		}
	}
	.card-group {
		justify-content: center;
		.card {
			width: 250px;
			.card-text {
				font-size: 14px;
			}
		}
	}
}
@media (min-width: 1200px) {
	nav {
		height: 82px;
	}
	header {
		.hero-bg {
			.hero-img {
				background-size: auto calc(100% - 100px);
				background-position: calc(50% + 240px) bottom;
				.hero-container {
					width: 500px;
					padding: 50px;
					top: 35%;
					.hero-text {
						font-size: 24px;
					}
					.hero-name {
						font-size: 19px;
					}
					.hero-description {
						font-size: 16px;
						text-align: justify;
					}
				}
			}
		}
	}
	.card-group {
		.card {
			width: 300px;
			.card-title {
				font-size: 18px;
			}
		}
	}
}
