@import "./colors";
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	position: relative;
	background-color: #ddd;
	font-family: "Montserrat", sans-serif;
}

nav {
	background-color: $white;
	z-index: 1;
	.navbar-brand {
		color: rgb(125, 65, 225);
		font-weight: bold;
	}
	.active {
		color: $main-color;
	}
	.fa-hands-holding-child {
		font-size: 30px;
	}
	.navbar-collapse {
		justify-content: flex-end;
		.nav-link {
			color: black;
			transition: color 0.5s background-color 0.5s;
		}
		.nav-link:hover {
			color: $white;
			background-color: $main-color;
		}
	}
}

header {
	#home {
		background-image: url("/img/bryan-garces-IXUM4cJynP0-unsplash_small.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	h1 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
	}
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url("/img/woman_without_bg.png");
		background-repeat: no-repeat;

		background-size: auto calc(100% - 100px);
		background-position: calc(50% + 40px) bottom;
		//     background-size: auto calc(100% - 100px);
		//     background-position: calc(50% + 240px) bottom;
		// }
		.hero-container {
			position: absolute;
			top: 30%;
			left: 25%;
			width: 150px;
			transform: translate(-50%, -50%);
			padding: 10px;
			text-align: center;
			background-color: $white;
			border-radius: 10px;
			box-shadow: 2px 2px 5px;
			.hero-name {
				text-align: left;
			}
		}
	}

	@media (min-width: 576px) {
		nav {
			height: 72px;
		}
		.hero-img {
			.hero-container {
				width: 250px;
			}
		}
	}

	@media (min-width: 768px) {
		nav {
			height: 82px;
		}
		.hero-img {
			.hero-container {
				width: 350px;
			}
		}
	}

	@media (min-width: 992px) {
		nav {
			height: 102px;
		}
		header {
			#home {
				background-image: url("/img/bryan-garces-IXUM4cJynP0-unsplash_big.jpg");
			}
		}
	}
}
